  .game {
    background: url("/assets/images/homer_cropped.png");
    background-size: cover;
    background-position: center center;
    color: yellow;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

.home {
    background: url("../images/Simpsons_House.jpg");
    background-size: cover;
    background-position: center center;
    color: yellow;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

